.add-event {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  pointer-events: visible;

  &__content {
    width: 1050px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.event-form {
  margin: 25px 0;
  padding: 25px;
  width: 350px;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #FFF;
  padding-top: 100px;

  &__add {
    border-bottom: 1px solid #e8e9eb;
  }

  &__content {
    border-top: 1px solid #e8e9eb;
  }

  &__close {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50%;

    &:hover {
      box-shadow: rgb(14 37 114 / 30%) 0 1px 10px;
    }
  }

  &__save {
    width: 70px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #e1e1e1;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      box-shadow: rgb(14 37 114 / 30%) 0 1px 10px;
    }

    &:disabled {
      box-shadow: none;
    }

    &--active {
      background-color: #1a1a1a;
      color: #FFF;

      &:hover {
        box-shadow: rgba(9, 18, 46, 0.5) 2px 3px 10px;
      }
    }

    &-box {
      margin-top: 80px;
      padding: 20px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 15px;
      border-top: 2px solid #d4d4d4;
    }
  }

  &__name {
    font-size: 24px;
    font-weight: 500;
  }

  &__header {
    margin-bottom: 25px;
    margin-top: 25px;
  }

  &__legend {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: none;
    border-bottom: 2px solid #ececec;
    font-size: 20px;
    line-height: 30px;
    padding-right: 25px;

    &-box {
      display: inline-block;
      width: 100%;
      margin-bottom: 30px;
      position: relative;
      color: #757575;
    }


    &-image {
      position: absolute;
      opacity: 0.6;
      top: 50%;
      right: 0;
      width: 20px;
      height: 20px;
    }
  }

  &__description {
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #ececec;

    &-box {
      display: inline-block;
      width: 100%;
      color: #757575;
      margin-bottom: 30px;
    }
  }

  &__time {
    display: flex;
    justify-content: space-between;
  }

  &__date {
    display: block;
    padding-top: 8px;
    width: 150px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ececec;
    line-height: 30px;
    color: #000;

    &__today {
      outline: none;
      border: none;
      margin-left: 20px;
      text-decoration-line: underline;
      background-color: transparent;
      cursor: pointer;
      opacity: 0.6;
    }

    &-box {
      display: inline-block;
      color: #757575;
    }
  }

  &__hour {
    display: block;
    margin-top: 8px;
    width: 100px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ececec;
    color: #000;
    line-height: 28px;

    &-box {
      display: inline-block;
      color: #757575;
    }
  }

  &__delete {
    outline: none;
    border: none;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;

    &-image {
      height: 40px;
      width: 40px;
      border-radius: 8px;

      &:hover {
        box-shadow: rgba(9, 18, 46, 0.4) 2px 3px 10px;
      }
    }
  }

  &__created {
    color: #b0b0b0;
  }
}
