.calendar {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 10px 0;
  }

  &__setting {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__month {
    width: 165px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;

    &__swiper {
      padding: 5px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &--img {
        height: 12px;
        width: 12px;
      }
    }
  }

  &__year {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgb(34, 31, 31);
    cursor: pointer;
    outline: none;

    &:hover {
      box-shadow: rgb(1 1 1 / 30%) 0 1px 10px;
    }

    &__image {
      width: 20px;
      height: 20px;
    }
  }

  &__add-event {
    height: 30px;
    width: 30px;
    outline: none;
    border: none;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(30, 133, 218);
    cursor: pointer;

    &:hover {
      box-shadow: rgb(14 37 114 / 50%) 0 1px 10px;
    }
  }
}